In [1]:
import pandas as pd

In [7]:
df = pd.read_json("mentions_data.json")

In [8]:
df.head()

,city,mention,message,sent_at
0,SanFrancisco,NO,-----\n\n-----\n\n-----\n## This room will be ...,2016-09-17 11:02:20.597
1,SanFrancisco,NO,Evening. Working on the Roman Numeral converte...,2016-09-07 01:22:55.929
2,SanFrancisco,NO,Evening. nodeSchool is a nice crash course int...,2016-09-02 02:30:24.478
3,SanFrancisco,NO,And a console tutorial app,2016-08-31 14:19:49.484
4,SanFrancisco,NO,Download it and try it,2016-08-31 14:19:44.212

In [9]:
df[df["city"]=="SaoPaulo"]["mention"].value_counts()

NO     244
YES    191
Name: mention, dtype: int64

In [10]:
df["city"].value_counts()[:60]

SanFrancisco    1129
Belgrade         840
Toronto          761
Boston           712
London           455
SaoPaulo         435
Name: city, dtype: int64

In [11]:
df["mention"].value_counts()

NO     3427
YES     905
Name: mention, dtype: int64

In [12]:
cities = ["SanFrancisco", "Toronto", "Belgrade", "London", "SaoPaulo"]
for city in cities:
    temp = df[df["city"]==city]["sent_at"].describe()
    print(city+": First message:",temp["first"],"Last messages:",temp["last"])

SanFrancisco: First message: 2015-07-01 21:04:40.407000 Last messages: 2016-09-17 11:02:20.597000
Toronto: First message: 2015-07-01 22:17:33.800000 Last messages: 2016-12-16 08:45:00.131000
Belgrade: First message: 2015-07-01 22:07:16.616000 Last messages: 2016-11-25 22:50:02.154000
London: First message: 2015-07-01 23:00:41.541000 Last messages: 2016-09-05 02:03:33.978000
SaoPaulo: First message: 2015-07-02 23:18:00.855000 Last messages: 2016-08-16 00:45:03.464000

In [13]:
date_mask = (df['sent_at'] > "2015-08-16 23:18:00.855000") & (df['sent_at'] <= "2016-08-16 00:45:03.464000")

In [14]:
df.loc[date_mask][df["city"]=="SaoPaulo"]["mention"].value_counts()

/home/deborah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

NO     151
YES    134
Name: mention, dtype: int64

In [15]:
df.loc[date_mask][df["city"].isin(cities)].to_json("experiment_sample_data.json",orient="records")

/home/deborah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [16]:
df.pivot_table(index=['mention'], columns='city', aggfunc='count')

         message                                              sent_at         \
city    Belgrade Boston London SanFrancisco SaoPaulo Toronto Belgrade Boston
mention
NO           771    548    342          991      244     531      771    548
YES           69    164    113          138      191     230       69    164


city    London SanFrancisco SaoPaulo Toronto
mention
NO         342          991      244     531
YES        113          138      191     230